<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Orc/PNG/PNG Sequences/Idle/0_Orc_Idle_000.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Orc/PNG/PNG Sequences/Idle/0_Orc_Idle_001.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>181</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Orc/PNG/PNG Sequences/Idle/0_Orc_Idle_002.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>181</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Orc/PNG/PNG Sequences/Idle/0_Orc_Idle_003.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>181</integer>
				<key>y</key>
				<integer>181</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Orc/PNG/PNG Sequences/Idle/0_Orc_Idle_004.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>362</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Orc/PNG/PNG Sequences/Idle/0_Orc_Idle_005.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>362</integer>
				<key>y</key>
				<integer>181</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Orc/PNG/PNG Sequences/Idle/0_Orc_Idle_006.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>543</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Orc/PNG/PNG Sequences/Idle/0_Orc_Idle_007.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>724</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Orc/PNG/PNG Sequences/Idle/0_Orc_Idle_008.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>543</integer>
				<key>y</key>
				<integer>181</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Orc/PNG/PNG Sequences/Idle/0_Orc_Idle_009.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>724</integer>
				<key>y</key>
				<integer>181</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Orc/PNG/PNG Sequences/Idle/0_Orc_Idle_010.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>362</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Orc/PNG/PNG Sequences/Idle/0_Orc_Idle_011.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>181</integer>
				<key>y</key>
				<integer>362</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Orc/PNG/PNG Sequences/Idle/0_Orc_Idle_012.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>543</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Orc/PNG/PNG Sequences/Idle/0_Orc_Idle_013.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>362</integer>
				<key>y</key>
				<integer>362</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Orc/PNG/PNG Sequences/Idle/0_Orc_Idle_014.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>181</integer>
				<key>y</key>
				<integer>543</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Orc/PNG/PNG Sequences/Idle/0_Orc_Idle_015.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>724</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Orc/PNG/PNG Sequences/Idle/0_Orc_Idle_016.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>181</integer>
				<key>y</key>
				<integer>724</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Orc/PNG/PNG Sequences/Idle/0_Orc_Idle_017.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>543</integer>
				<key>y</key>
				<integer>362</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Orc/PNG/PNG Sequences/Idle Blinking/0_Orc_Idle Blinking_000.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>362</integer>
				<key>y</key>
				<integer>543</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Orc/PNG/PNG Sequences/Idle Blinking/0_Orc_Idle Blinking_001.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>543</integer>
				<key>y</key>
				<integer>543</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Orc/PNG/PNG Sequences/Idle Blinking/0_Orc_Idle Blinking_002.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>362</integer>
				<key>y</key>
				<integer>724</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Orc/PNG/PNG Sequences/Idle Blinking/0_Orc_Idle Blinking_003.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>724</integer>
				<key>y</key>
				<integer>362</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Orc/PNG/PNG Sequences/Idle Blinking/0_Orc_Idle Blinking_004.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>724</integer>
				<key>y</key>
				<integer>543</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Orc/PNG/PNG Sequences/Idle Blinking/0_Orc_Idle Blinking_005.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>543</integer>
				<key>y</key>
				<integer>724</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Orc/PNG/PNG Sequences/Idle Blinking/0_Orc_Idle Blinking_006.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>724</integer>
				<key>y</key>
				<integer>724</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>orc0.png</string>
			<key>realTextureFileName</key>
			<string>orc0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>