<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Ogre/PNG/PNG Sequences/Dying/0_Ogre_Dying_003.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Ogre/PNG/PNG Sequences/Dying/0_Ogre_Dying_004.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>181</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Ogre/PNG/PNG Sequences/Dying/0_Ogre_Dying_005.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>181</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Ogre/PNG/PNG Sequences/Dying/0_Ogre_Dying_006.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>181</integer>
				<key>y</key>
				<integer>181</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Ogre/PNG/PNG Sequences/Dying/0_Ogre_Dying_007.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>362</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Ogre/PNG/PNG Sequences/Dying/0_Ogre_Dying_008.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>362</integer>
				<key>y</key>
				<integer>181</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Ogre/PNG/PNG Sequences/Dying/0_Ogre_Dying_009.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>543</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Ogre/PNG/PNG Sequences/Dying/0_Ogre_Dying_010.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>724</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Ogre/PNG/PNG Sequences/Dying/0_Ogre_Dying_011.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>543</integer>
				<key>y</key>
				<integer>181</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Ogre/PNG/PNG Sequences/Dying/0_Ogre_Dying_012.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>724</integer>
				<key>y</key>
				<integer>181</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Ogre/PNG/PNG Sequences/Dying/0_Ogre_Dying_013.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>362</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Ogre/PNG/PNG Sequences/Dying/0_Ogre_Dying_014.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>181</integer>
				<key>y</key>
				<integer>362</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Ogre/PNG/PNG Sequences/Hurt/0_Ogre_Hurt_000.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>543</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Ogre/PNG/PNG Sequences/Hurt/0_Ogre_Hurt_001.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>362</integer>
				<key>y</key>
				<integer>362</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Ogre/PNG/PNG Sequences/Hurt/0_Ogre_Hurt_002.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>181</integer>
				<key>y</key>
				<integer>543</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Ogre/PNG/PNG Sequences/Hurt/0_Ogre_Hurt_003.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>724</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Ogre/PNG/PNG Sequences/Hurt/0_Ogre_Hurt_004.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>181</integer>
				<key>y</key>
				<integer>724</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Ogre/PNG/PNG Sequences/Hurt/0_Ogre_Hurt_005.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>543</integer>
				<key>y</key>
				<integer>362</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Ogre/PNG/PNG Sequences/Hurt/0_Ogre_Hurt_006.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>362</integer>
				<key>y</key>
				<integer>543</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Ogre/PNG/PNG Sequences/Hurt/0_Ogre_Hurt_007.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>543</integer>
				<key>y</key>
				<integer>543</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Ogre/PNG/PNG Sequences/Hurt/0_Ogre_Hurt_008.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>362</integer>
				<key>y</key>
				<integer>724</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Ogre/PNG/PNG Sequences/Hurt/0_Ogre_Hurt_009.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>724</integer>
				<key>y</key>
				<integer>362</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Ogre/PNG/PNG Sequences/Hurt/0_Ogre_Hurt_010.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>724</integer>
				<key>y</key>
				<integer>543</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Ogre/PNG/PNG Sequences/Hurt/0_Ogre_Hurt_011.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>543</integer>
				<key>y</key>
				<integer>724</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>ogre3.png</string>
			<key>realTextureFileName</key>
			<string>ogre3.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>